<div class="commercialSection">
  <div class="container">
    <div class="col-md-4">
      <p class="commercialMessage">Obten tu sitio web</p>
      <h1 class="commercialMessage-bold">en 48 horas</h1>
    </div>
    <div class="col-md-8">
      <p class="commercialMessage-light">Con un pago unico obten tu sitio web personalizado en
        <span>tiempo record.</span>
        </br>
        </br>
        Elige uno de nuestros planes, contactanos e iremos hasta tu domicilio para atender tu solicitud de la mejor manera.
      </p>
    </div>
  </div>
</div>