<div class="contactSection">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="tittle">
          ¡Contactanos!
        </h1>
      </div>
    </div>
    <div class="col-md-8">
      <p class="contactText">
        Puedes contactarnos utilizando el <span>chat en vivo</span> y uno de nuestros asesores te atendera directamente. 
      </br></br>
        O bien puedes llamarnos a nuestros numeros.
      </p>
    </div>
    <div class="col-md-4">
      <h2>Telefonos:</h2>
      <h3 class="contactPhone">(+56) 2 2405 3030</h3>
      <h3 class="contactPhone">(+56) 9 7770 2643</h3>
    </div>
  </div>
</div>