<!-- start chat box -->
<div id="live-chat">
  <div class="clearfix chat-header">
    <a class="chat-close">-</a>
    <h4>SitiosWebChile</h4>
  </div>
  <div class="chat" style="display:none;">
    <!---->
    <div class="chat-history">

      <div class="ds-chat-message support-chat">
        <div class="message-message">
          <img src="https://lh3.googleusercontent.com/-v-nOreIwytQ/WXYGOTJfxwI/AAAAAAAAABA/gmB02KQ5YukxO7WQDS_lo0xl5OBrphA5ACEwYBhgL/w139-h140-p/17022164_281947275571825_7574097377909968664_n.jpg"
            alt="" width="32" height="32" />
          <div class="ds-chat-message-content">
            <span class="ds-chat-time">11:54</span>
            <h5>SitiosWebChile</h5>
            <p>Bienvenido a nuestro website</p>
          </div>
          <!-- end chat-message-content -->
        </div>
      </div>
      <!-- end chat-message -->

      <div class="ds-chat-message-2 support-chat-2">
        <img src="https://lh3.googleusercontent.com/-v-nOreIwytQ/WXYGOTJfxwI/AAAAAAAAABA/gmB02KQ5YukxO7WQDS_lo0xl5OBrphA5ACEwYBhgL/w139-h140-p/17022164_281947275571825_7574097377909968664_n.jpg"
          alt="" width="32" height="32" />
        <div class="ds-chat-message-content">
          <span class="ds-chat-time-2">11:54</span>
          <h5>Carlos Colmenarez</h5>
          <p>Pudieran ofrecerme informacion sobre la renovacion al terminarse un plan?</p>
        </div>
        <!-- end chat-message-content -->
      </div>
      <!-- end chat-message -->

      <!-- end chat-message -->

      <div class="ds-chat-message support-chat">
        <div class="message-message">
          <img src="https://lh3.googleusercontent.com/-v-nOreIwytQ/WXYGOTJfxwI/AAAAAAAAABA/gmB02KQ5YukxO7WQDS_lo0xl5OBrphA5ACEwYBhgL/w139-h140-p/17022164_281947275571825_7574097377909968664_n.jpg"
            alt="" width="32" height="32" />
          <div class="ds-chat-message-content">
            <span class="ds-chat-time">11:54</span>
            <h5>SitiosWebChile</h5>
            <p>El costo anual por renovación de hosting y dominio por un total de $36.000</p>
          </div>
          <!-- end chat-message-content -->
        </div>
      </div>
      <!-- end chat-message -->

      <div class="ds-chat-message-2 support-chat-2">
        <img src="https://lh3.googleusercontent.com/-v-nOreIwytQ/WXYGOTJfxwI/AAAAAAAAABA/gmB02KQ5YukxO7WQDS_lo0xl5OBrphA5ACEwYBhgL/w139-h140-p/17022164_281947275571825_7574097377909968664_n.jpg"
          alt="" width="32" height="32" />
        <div class="ds-chat-message-content">
          <span class="ds-chat-time-2">11:54</span>
          <h5>Carlos Colmenarez</h5>
          <p>Ok, existe posibilidad de pagar varios años por adelantado?</p>
        </div>
        <!-- end chat-message-content -->
      </div>
      <!-- end chat-message -->

      <!-- end chat-message -->

      <div class="ds-chat-message support-chat">
        <div class="message-message">
          <img src="https://lh3.googleusercontent.com/-v-nOreIwytQ/WXYGOTJfxwI/AAAAAAAAABA/gmB02KQ5YukxO7WQDS_lo0xl5OBrphA5ACEwYBhgL/w139-h140-p/17022164_281947275571825_7574097377909968664_n.jpg"
            alt="" width="32" height="32" />
          <div class="ds-chat-message-content">
            <span class="ds-chat-time">11:54</span>
            <h5>SitiosWebChile</h5>
            <p>Si es posible, siempre y cuando se acepten los terminos y condiciones.</p>
          </div>
          <!-- end chat-message-content -->
        </div>
      </div>
      <!-- end chat-message -->

      <div class="ds-chat-message-2 support-chat-2">
        <img src="https://lh3.googleusercontent.com/-v-nOreIwytQ/WXYGOTJfxwI/AAAAAAAAABA/gmB02KQ5YukxO7WQDS_lo0xl5OBrphA5ACEwYBhgL/w139-h140-p/17022164_281947275571825_7574097377909968664_n.jpg"
          alt="" width="32" height="32" />
        <div class="ds-chat-message-content">
          <span class="ds-chat-time-2">11:54</span>
          <h5>Carlos Colmenarez</h5>
          <p>Continuara...</p>
        </div>
        <!-- end chat-message-content -->
      </div>
      <!-- end chat-message -->

      <!-- end chat-message -->

      <!-- end chat-message -->
    </div>
    <!-- end chat-history -->
    <form action="#" method="post">
      <fieldset>
        <input type="text" placeholder="Type your message…" autofocus>
        <input type="hidden">
        <label class="bg_none" for="upload-photo">
          <i class="glyphicon glyphicon-paperclip"></i>
        </label>
        <input type="file" name="photo" id="upload-photo" />
      </fieldset>
    </form>
  </div>
  <!-- end chat -->
</div>
<!-- end live-chat -->

<!-- end chat box -->