<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="title">Sitios Web Chile</h3>
        <p>Ofrecemos el mejor servicio personalizado de desarrollo web, orientado en ofrecer soluciones personalizadas para
          cada cliente. </p>
      </div>
      <div class="col-md-6">
        <h4 class="title">Mapa del sitio</h4>
        <ul>
          <li>
            <a href="#!">Planes</a>
          </li>
          <li>
            <a href="#!">Contacto</a>
          </li>
          <li>
            <a href="#!">Clientes</a>
          </li>
          <li>
            <a href="#!">Nosotros</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>