<div class="planSecction">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="tittle">
          Planes y servicios
        </h1>
      </div>
    </div>
    <div class="col-md-4">
      <div class="planItem">
        <h2 class="planTittle">PLAN ECONÓMICO</h2>
        <ul class="planOptions">
          <li>Dominio .cl ó .com</li>
          <li>Hosting por 1 año</li>
          <li>Diseño del sitio web</li>
          <li>Imagenes Slide con movimiento</li>
          <li>5 páginas interiores</li>
          <li>Links a Redes Sociales</li>
        </ul>
        <h2 class="planPrice">$99.000</h2>
      </div>
      <button type="button" class="btn btn-primary btn-lg btn-block">Seleccionar</button>
    </div>
    <div class="col-md-4">
      <div class="planItem">
        <h2 class="planTittle">PLAN AUTO ADMINISTRABLE</h2>
        <ul class="planOptions">
          <li>Dominio .cl ó .com</li>
          <li>Hosting por 1 año</li>
          <li>Diseño del sitio web</li>
          <li>Imagenes Slide con movimiento</li>
          <li>5 páginas interiores</li>
          <li>Links a Redes Sociales</li>
          <li>Posicionamiento SEO</li>
          <li>Uso de Palabras Clave para los buscadores</li>
          <li>Formulario de Contacto</li>
        </ul>
        <h2 class="planPrice">$159.000</h2>
      </div>
      <button type="button" class="btn btn-primary btn-lg btn-block">Seleccionar</button>
    </div>
    <div class="col-md-4">
      <div class="planItem">
        <h2 class="planTittle">PLAN TIENDA VIRTUAL</h2>
        <ul class="planOptions">
          <li>Dominio .cl ó .com</li>
          <li>Hosting por 1 año</li>
          <li>Diseño del sitio web</li>
          <li>Imagenes Slide con movimiento</li>
          <li>5 páginas interiores</li>
          <li>Links a Redes Sociales</li>
          <li>Posicionamiento SEO</li>
          <li>Uso de Palabras Clave para los buscadores</li>
          <li>Formulario de Contacto</li>
          <li>Sistema Responsive</li>
          <li>Botón de llamada telefónico directo en celulares</li>
        </ul>
        <h2 class="planPrice">$199.000</h2>
      </div>
      <button type="button" class="btn btn-primary btn-lg btn-block">Seleccionar</button>
    </div>
  </div>
</div>